<div class="col mb-4 text-center">
  <div class="card h-100">
    <div class="card-header"><%= day %>s</div>
    <div class="card-body">
      <% if(spots.any?) %>
        <ul>
          <% spots.each do |spot| %>
              <li>
                <%= spot.name %>
              </li>
            <% end %>
        </ul>
      <% else %>
        <p>Pour le moment, aucun point de distribution n'a été défini pour cette tournée.</p>
      <% end %>
    </div>
    <div class="card-footer">
      <!-- Replace with link_to helper + alternative content (conditional) -->
      <a href="#" class="btn btn-primary">Se connecter pour s'abonner</a>
    </div>
  </div>
</div>
