<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initMap()
      });
    </script>
<% end %>

<div class="container">
  <h1>Histoires de pains</h1>
</div>
