<% provide :head_tags do %>
    <script>
      document.addEventListener("DOMContentLoaded", () => {
        initMap()
      });
    </script>
<% end %>

<h1>Home#index</h1>
<p>Find me in app/views/home/index.html.erb</p>

<h2>Liste des points de distribution</h2>

<ul>
  <% @locations.each do |location| %>
        <li>
          <%= location.name %>: <%= location.address %> | lat: <%= location.latitude %>, long: <%= location.longitude %>
        </li>
      <% end %>
</ul>

<div id="map"></div>
