// Place all the styles related to the Rounds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.locations {
  border: 1px solid black;
  padding: 10px;
}

#locations-list {
  list-style-type: none;
  li {
      margin: .5em 0;
      cursor: pointer;
    }
}

#map {
    height: 400px;
}
