<li class="nav-item">
  <%= link_to('Abonnements', rounds_path, class: 'nav-link') %>
</li>
<li class="nav-item">
  <%= link_to('Mon compte', account_path, class: 'nav-link') %>
</li>
<li class="nav-item">
  <%= link_to('Admin', admin_root_path, class: 'nav-link') %>
</li>
<li class="nav-item">
  <%= link_to('Se déconnecter', session_path(1), class: 'nav-link', method: :delete) %>
</li>
