<li class="nav-item">
  <%= link_to('Abonnements', rounds_path, class: 'nav-link') %>
</li>
<li class="nav-item">
  <%= link_to('Créer un compte', new_user_path, class: 'nav-link') %>
</li>
<li class="nav-item">
  <%= link_to('Se connecter', new_session_path, class: 'nav-link') %>
</li>
